{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<link rel="stylesheet" href="../../static/users/solve.css">

<body>
    <section class="sec">
        <h1>La Solution</h1>
        <p>Ce test m'a donné du fil à retordre, je n'ai pas une grande expérience de python et de docker 
            mais en ayant visionné des tutoriels, de la documentation et ayant fait des tests sur l'Environnement
            docker j'ai appris et m'ai donné encore plus la soif d'en apprendre davantage.
            J'ai pris du plaisir à donner mon maximum, à ne pas compter le temps que j'y ai consacré.<br><br>
            Alors oui je ne connais pas tout sur tout mais je suis encore en apprentissage et motivé à en apprendre 
            encore et toujours plus. Et puis quand on est dans le développement on ne s'arrête jamais vraiment d'apprendre...
            Je suis quelqu'un de déterminer, qui a de la volonté qui est tenance et je serai prêt à me donner à 2000% 
            pour réussir mon master en LeadDev et à 4000% pour réussir à vos côtés.
        </p>
    </section>
</body>

{% endblock %}